version: "3.8"

services:
  mongodb:
    image: mongo:7.0
    container_name: moneytracker-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: ${DB_NAME:-money_tracker_db}

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: moneytracker-backend
    restart: unless-stopped
    depends_on:
      - mongodb
    ports:
      - "8001:8001"
    environment:
      # gunakan .env di root atau fallback
      MONGO_URL: ${MONGO_URL:-mongodb://mongodb:27017}
      DB_NAME: ${DB_NAME:-money_tracker_db}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY:-change-me}
      CORS_ORIGINS: ${CORS_ORIGINS:-*}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/docs" ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
        context: .
        dockerfile: frontend/Dockerfile
    ports:
        - "3000:80"
    depends_on:
        - backend
    environment:
        REACT_APP_BACKEND_URL: ""  # penting: kosong supaya fallback /api




volumes:
  mongodb_data:

